<!DOCTYPE html>
  <html>
      <head>
          <body>
              <p>
                There is a new message from Dave's Itemized Review contact form.
                The message was sent from <%= "#{ @name}, #{ @email}."%>
              </p>
              
              <p>
                <%= "#{ @message }. "%>
              </p>
          </body>
      </head>
  </html>